body,
html {
  height: 100%;
}
/* Text Adjust */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* Box Sizing */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Body rules */
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: grid;
  grid-template-rows: 50px auto 50px;
  grid-gap: 0.7em;
  grid-template-areas:
    "header "
    "main"
    "footer ";
}
/* Header rules */
header {
  grid-area: header;
}

/* Main rules */
main {
  display: grid;
  grid-area: main;
  grid-template-areas:
    "html"
    "css"
    "js";
}
/* Footer rules */
footer {
  grid-area: footer;
  justify-self: center;
}

/* Nav rules */
nav > ul {
  list-style-type: none;
  float: right;
}
nav > ul > li {
  display: inline;
}
nav > ul > li > a {
  text-decoration: none;
}

/* HTML rules */
#hmtl {
  grid-area: html;
}
#html > h2 {
  background: linear-gradient(
    0deg,
    rgba(241, 101, 41, 1) 30%,
    rgba(228, 77, 38, 1) 70%
  );
  color: #fff;
}
/* #htmlTimeline {
  width: 200vw;
  height: 30vh;
  background-image: url(/images/html_timeline.svg);
  background-repeat: no-repeat;
  border-bottom: 3px solid #000;
} */
/* CSS rules */
#css {
  grid-area: css;
}
#css > h2 {
  background: linear-gradient(
    180deg,
    rgba(38, 77, 228, 1) 30%,
    rgba(41, 101, 241, 1) 70%
  );
  color: #fff;
}
/* Standard Box Model */
#standardBox {
  box-sizing: content-box;
  width: 300px;
  height: 30px;
  margin: 10px;
  padding: 20px;
  border: 5px solid #000;
}
/* Alternative Box Model */
#alternateBox {
  width: 300px;
  height: 30px;
  margin: 10px;
  padding: 20px;
  border: 5px solid #000;
}
/* Background Colors */
#backgroundColorBox {
  background-color: #0929a8;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 0px 10px;
  border: 5px solid #000;
}
#backgroundColorBox > h4 {
  padding: 3px;
  background-color: #7da2f6;
  color: white;
}
/* Background Images */
#backgroundImageBox {
  width: 300px;
  height: 200px;
  border: 5px solid #000;
  margin: 10px;
  background: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(51, 56, 57, 1) 98%
      )
      center center / 200px 200px no-repeat,
    url(images/mandala.svg) center no-repeat, rgb(58, 202, 82);
}

/* JavaScript rules */
#js {
  grid-area: js;
}
#js > h2 {
  background: rgb(247, 223, 30);
}
