body,
html {
  height: 100%;
}
h1 {
  display: inline;
}
h2 {
  border-top-right-radius: 10px;
}
h3 {
  border-bottom: 2px solid #000;
}
/* Text Adjust */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* Box Sizing */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Body rules */
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: grid;
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    "header "
    "main"
    "footer ";
}
/* Header rules */
.header {
  grid-area: header;
  background-color: rgba(83, 80, 80, 0.35);
  box-shadow: 0 20px 19px 2px rgba(83, 80, 80, 0.33);
}

/* Main rules */
.main {
  display: grid;
  grid-area: main;
  grid-template-areas:
    "html"
    "css"
    "js";
}
/* Footer rules */
.footer {
  grid-area: footer;
  justify-items: center;
  background-color: rgba(83, 80, 80, 0.35);
}
.footer p {
  justify-self: center;
}

/* Nav rules */
nav > ul {
  list-style-type: none;
  float: right;
}
nav > ul > li {
  display: inline;
}
nav > ul > li > a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
nav > ul > li:nth-child(1) {
  background: linear-gradient(
    90deg,
    rgba(241, 101, 41, 1) 30%,
    rgba(0, 0, 0, 0.1) 90%
  );
}
nav > ul > li:nth-child(2) {
  color: #000;
  background: linear-gradient(
    90deg,
    rgba(1, 101, 241, 1) 30%,
    rgba(0, 0, 0, 0.1) 90%
  );
}
nav > ul > li:nth-child(3) {
  color: #000;
  background: linear-gradient(
    90deg,
    rgba(247, 223, 30, 1) 30%,
    rgba(0, 0, 0, 0.1) 90%
  );
}
/* HTML rules */
#hmtl {
  grid-area: html;
}
#html > h2 {
  background: linear-gradient(
    0deg,
    rgba(241, 101, 41, 1) 30%,
    rgba(228, 77, 38, 1) 70%
  );
  color: #fff;
}
#htmlTimeline {
  width: 100%;
  height: 300px;
  background-image: url(/images/html_timeline.svg);
  background-repeat: no-repeat;
  border-bottom: 3px solid #000;
}
/* CSS rules */
#css {
  grid-area: css;
}
#css > h2 {
  background: linear-gradient(
    180deg,
    rgba(38, 77, 228, 1) 30%,
    rgba(41, 101, 241, 1) 70%
  );
  color: #fff;
}
/* Standard Box Model */
#standardBox {
  box-sizing: content-box;
  width: 300px;
  height: 30px;
  margin: 10px;
  padding: 20px;
  border: 5px solid #000;
}
/* Alternative Box Model */
#alternateBox {
  width: 300px;
  height: 30px;
  margin: 10px;
  padding: 20px;
  border: 5px solid #000;
}
/* Background Colors */
#backgroundColorBox {
  background-color: rgb(38, 77, 228);
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 0px 10px;
  border: 5px solid #000;
}
#backgroundColorBox > h4 {
  padding: 3px;
  background-color: rgb(1, 101, 241);
  color: white;
}
/* Background Images */
#backgroundImageBox {
  width: 300px;
  height: 200px;
  border: 5px solid #000;
  margin: 10px;
  background: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(51, 56, 57, 1) 98%
      )
      center center / 200px 200px no-repeat,
    url(images/mandala.svg) center no-repeat, rgb(1, 101, 241);
}
/* Border Radius */
.radiusBoxes {
  display: grid;
  gap: 0.7em;
  margin: 0.7em;
  grid-template-columns: repeat(2, auto);
  justify-content: space-evenly;
}
.boxRadius1,
.boxRadius2,
.boxRadius3,
.boxRadius4,
.boxRadius5,
.boxRadius6 {
  width: 280px;
  height: 220px;
  display: grid;
  align-content: center;
  background-color: rgba(4, 43, 98, 0.9);
  color: #fff;
  border: 2px solid #000;
}
.boxRadius1 {
  border-radius: 10%;
}
.boxRadius2 {
  border-radius: 25% 5%;
}
.boxRadius3 {
  border-radius: 10% 20% 30% 50%;
}
.boxRadius4 {
  border-radius: 10% / 50%;
}
.boxRadius5 {
  border-radius: 5% 15% / 35%;
}
.boxRadius6 {
  border-radius: 50% 20% / 10% 40%;
}
.radiusBoxes p {
  text-align: center;
}
/* Box Shadow */
.shadowBoxes {
  display: grid;
  gap: 2em;
  margin: 0.7em;
  grid-template-columns: repeat(2, auto);
  justify-content: space-evenly;
}
.boxShadow1,
.boxShadow2,
.boxShadow3,
.boxShadow4,
.boxShadow6 {
  width: 280px;
  height: 220px;
  display: grid;
  align-content: center;
  background-color: rgba(94, 48, 138, 0.7);
  color: #fff;
  font-weight: bold;
}
.boxShadow1 {
  box-shadow: 5em -1.5em rgba(94, 48, 138, 1);
}
.boxShadow2 {
  box-shadow: 1.5em 1em 0.7em rgba(94, 48, 138, 0.9);
}
.boxShadow3 {
  box-shadow: 1.5em 0.7em 0.3em 0.6em rgba(94, 48, 138, 0.9);
}
.boxShadow4 {
  box-shadow: inset 5em 1em rgba(94, 48, 138, 1);
}
.boxShadow5 {
  width: 280px;
  height: 220px;
  display: grid;
  align-content: center;
  box-shadow: 0 0.75em 0 -0.375em #fff, 0 -0.75em 0 -0.375em #fff,
    0.75em 0 0 -0.375em #fff, -0.75em 0 0 -0.375em #fff,
    0 0 0 0.375em rgba(94, 48, 138, 1);
}
.boxShadow6 {
  box-shadow: inset 0 0 0 1em #350561, inset 0 0 0 1.5em #4024dd,
    inset 0 0 0 2em #77b2da;
}
/* JavaScript rules */
#js {
  grid-area: js;
}
#js > h2 {
  background: rgb(247, 223, 30);
}
