/* Text Adjust */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* Box Sizing */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}
/* Body rules */
body {
  font-family: "Lora", serif;
  font-size: 16px;
  font-weight: 300;
  background-color: #ddd;
}
/* .hero {
  position: relative;
  width: 100vw;
  height: 70vh;
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
} */
h2 {
  text-align: center;
}
h3 {
  border-bottom: 2px solid #000;
  text-align: end;
}
/* Header rules */
header {
  text-align: center;
}

/* Main rules */

/* Footer rules */
footer {
  font-style: italic;
}

/* Nav rules */
nav > ul {
  list-style-type: none;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
nav > ul > li:nth-child(1) {
  background: linear-gradient(90deg, rgba(241, 101, 41, 1) 30%, #ddd 90%);
}
nav > ul > li:nth-child(2) {
  color: #000;
  background: linear-gradient(90deg, rgba(1, 101, 241, 1) 30%, #ddd 90%);
}
nav > ul > li:nth-child(3) {
  color: #000;
  background: linear-gradient(90deg, rgba(247, 223, 30, 1) 30%, #ddd 90%);
}
/* HTML rules */
#html,
#css,
#js {
  border: 0.4em solid #fff;
  /* border-top: 0.2em solid #ddd;
  border-left: 0.2em solid #ddd; */
  border-radius: 5px 5px 0 0;
}
#html:hover {
  border-color: rgba(228, 77, 38, 1);
  box-shadow: inset 0 0.2em 0.25em rgba(241, 101, 41, 0.6);
}
#html p,
#html h3,
#html ul > li {
  padding-left: 0.4em;
}
#html > h2 {
  margin-top: 0;
  background: linear-gradient(
    0deg,
    rgba(241, 101, 41, 1) 30%,
    rgba(228, 77, 38, 1) 70%
  );
  color: #fff;
  border-radius: 1px 1px 0 0;
}

#html h3 {
  display: none;
}
#htmlTimeline {
  display: none;
  width: 100%;
  height: 25vh;
  background-image: url(/images/html_timeline.svg);
  background-repeat: no-repeat;
  /* border-bottom: 2px solid #000; */
  box-shadow: 0 15px 15px 2px rgba(83, 80, 80, 0.33);
}
/* CSS rules */
#css:hover {
  border-color: rgba(38, 77, 228, 1);
  box-shadow: inset 0.2em 0.2em 0.25em rgba(41, 101, 241, 0.6);
}
#css > h2 {
  margin-top: 0;
  background: linear-gradient(
    180deg,
    rgba(38, 77, 228, 1) 30%,
    rgba(41, 101, 241, 1) 70%
  );
  color: #fff;
  border-radius: 1px 1px 0 0;
}
table {
  margin-left: auto;
  margin-right: auto;
}
caption {
  background-color: rgba(38, 77, 228, 0.9);
  font-weight: bold;
  color: #fff;
}
th,
td {
  border-bottom: 1px solid #fff;
}
tbody > tr:hover,
tfoot tr:hover {
  background-color: rgba(41, 101, 241, 0.7);
}
/* Standard Box Model */
.standardBox {
  display: flex;
  justify-content: center;
}
.standardBox > p {
  box-sizing: content-box;
  width: 300px;
  height: 30px;
  padding: 20px;
  border: 3px solid #000;
  text-align: center;
}
/* Alternative Box Model */
.alternateBox {
  display: flex;
  justify-content: center;
}
.alternateBox > p {
  width: 300px;
  height: 30px;
  padding: 20px;
  border: 3px solid #000;
  text-align: center;
}
/* Background Colors */
.containerBackgroundColor {
  display: flex;
  justify-content: center;
}
#backgroundColorBox {
  background-color: rgb(38, 77, 228);
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 0px 10px;
  border: 3px solid #000;
}
#backgroundColorBox > h4 {
  padding: 3px;
  background-color: #000;
  color: #fff;
  text-align: center;
}
/* Background Images */
.containerBackgroundImage {
  display: flex;
  justify-content: center;
}
#backgroundImageBox {
  width: 300px;
  height: 200px;
  border: 3px solid #000;
  margin: 10px;
  background: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(51, 56, 57, 1) 98%
      )
      center center / 200px 200px no-repeat,
    url(images/mandala.svg) center no-repeat, rgb(1, 101, 241);
}
/* Border Radius */
.radiusBoxes {
  display: grid;
  gap: 0.7em;
  margin: 0.7em;
  grid-template-columns: 1fr;
  justify-items: center;
}
.boxRadius1,
.boxRadius2,
.boxRadius3,
.boxRadius4,
.boxRadius5,
.boxRadius6 {
  width: 300px;
  height: 150px;
  display: grid;
  align-content: center;
  background-color: rgba(4, 43, 98, 0.9);
  color: #fff;
  border: 3px solid #000;
}
.boxRadius1 {
  border-radius: 10%;
}
.boxRadius2 {
  border-radius: 25% 5%;
}
.boxRadius3 {
  border-radius: 10% 20% 30% 50%;
}
.boxRadius4 {
  border-radius: 10% / 50%;
}
.boxRadius5 {
  border-radius: 5% 15% / 35%;
}
.boxRadius6 {
  border-radius: 50% 20% / 10% 40%;
}
.radiusBoxes p {
  text-align: center;
}
/* Box Shadow */
.shadowBoxes {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
  justify-items: center;
}
.boxShadow1,
.boxShadow2,
.boxShadow3,
.boxShadow4,
.boxShadow6 {
  width: 200px;
  height: 100px;
  display: grid;
  align-content: center;
  background-color: rgba(48, 75, 138, 0.7);
  color: #fff;
  font-weight: bold;
}
.boxShadow1 {
  box-shadow: 3em -1.5em rgb(54, 48, 138);
}
.boxShadow2 {
  box-shadow: 1.5em 1em 0.7em rgba(54, 48, 138, 0.9);
}
.boxShadow3 {
  box-shadow: 1.5em 0.7em 0.3em 0.6em rgba(54, 48, 138, 0.9);
}
.boxShadow4 {
  box-shadow: inset 5em 1em rgba(54, 48, 138, 1);
}
.boxShadow5 {
  width: 200px;
  height: 130px;
  display: grid;
  align-content: center;
  box-shadow: 0 0.75em 0 -0.375em #ddd, 0 -0.75em 0 -0.375em #ddd,
    0.75em 0 0 -0.375em #ddd, -0.75em 0 0 -0.375em #ddd,
    0 0 0 0.375em rgba(54, 48, 138, 1);
}
.boxShadow6 {
  box-shadow: inset 0 0 0 1em #350561, inset 0 0 0 1.5em #4024dd,
    inset 0 0 0 2em #77b2da;
}
/* Transformations */
.containerTransformations {
  display: grid;
  gap: 3em;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 4em;
}
.boxTransformed1,
.boxTransformed3,
.boxTransformed5,
.boxTransformed7,
.boxTransformed9 {
  width: 160px;
  height: 160px;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: rgb(63, 0, 122);
  cursor: pointer;
  border: 3px solid rgb(0, 217, 255);
  border-radius: 30% 0;
  color: #fff;
}
.boxTransformed2,
.boxTransformed4,
.boxTransformed6,
.boxTransformed8,
.boxTransformed10 {
  width: 160px;
  height: 160px;
  display: grid;
  align-content: center;
  justify-content: center;
  transform-style: preserve-3d;
  cursor: pointer;
  transform: rotate3d(1, 1, 1, 25deg);
}
.face {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: inherit;
  font-weight: bold;
}
.front {
  background: rgba(255, 0, 0, 0.7);
  transform: translateZ(50px);
}
.back {
  background: rgba(4, 0, 255, 0.7);
  transform: rotateY(180deg) translateZ(40px);
}
.right {
  background: rgba(251, 255, 0, 0.7);
  transform: rotateY(90deg) translateZ(40px);
}
.left {
  background: rgba(0, 255, 13, 0.7);
  transform: rotateY(-90deg) translateZ(40px);
}
.top {
  background: rgba(52, 232, 238, 0.7);
  transform: rotateX(90deg) translateZ(40px);
}
.bottom {
  background: rgba(227, 55, 243, 0.7);
  transform: rotateX(-90deg) translateZ(40px);
}
.boxTransformed1:hover {
  transform: matrix(2, 0.2, 2, 1, 5, 6);
}
.boxTransformed2:hover {
  transform: rotate3d(1, 1, 1, 25deg)
    matrix3d(1, 0, 0, 0, 0, 1, 6, 0, 0, 0, 1, 0, 50, 100, 0, 1.1);
}
.boxTransformed3:hover {
  transform: translate(50px, 70px);
}
.boxTransformed4:hover {
  transform: rotate3d(1, 1, 1, 25deg) translate3d(50px, 70px, 100px);
}
.boxTransformed5:hover {
  transform: scale(2, 2);
}
.boxTransformed6:hover {
  transform: rotate3d(1, 1, 1, 25deg) scale3d(2, 2, 2);
}
.boxTransformed7:hover {
  transform: rotate(90deg);
}
.boxTransformed8:hover {
  transform: rotate3d(2, -1, 1, 90deg);
}
.boxTransformed9:hover {
  transform: skew(45deg, 25deg);
}
.boxTransformed10:hover {
  transform: rotate3d(1, 1, 1, 25deg) perspective(6cm);
}
/* JavaScript rules */
#js:hover {
  border-color: rgb(247, 223, 30);
  box-shadow: inset 0.2em 0.2em 0.25em rgba(247, 223, 30, 0.6);
}
#js > h2 {
  margin-top: 0;
  background: rgb(247, 223, 30);
  border-radius: 1px 1px 0 0;
}
